html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 75rem;
}

.nav-link {
  color: rgba(255,255,255,.5);
}

.navbar .text-grey {
  position: relative;
  color: grey;
  font-weight: 300;
  padding: .5rem;
}

.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* scroll  */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 20%;
}

/*
.welcome-message {
  display: none;
}

.game-playarea {
  display: none;
}
*/

.game-grid {
  width: 100px;
  height: 100px;
  border: 4px solid #adadad;
  padding: 20px;
  text-align: center;
}

.game-grid:hover {
  background-color: #f2f2f2;
}